rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isUserAuthenticated(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    function isUserAdmin(userId) {
      return exists(/databases/$(database)/documents/users/$(userId)) &&
             get(/databases/$(database)/documents/users/$(userId)).data.isAdmin == true;
    }

    match /{document=**} {
      allow read: if request.auth != null;
      allow write: if isUserAdmin(request.auth.uid);
    }

    match /products/{productId} {
      allow read: if true;
    }

    match /settings/{settingId} {
      allow read: if true;
    }

    match /users/{userId} {
      allow read, update: if isUserAuthenticated(userId);
    }

    match /users/{userId}/cart/{itemId} {
      allow read, write: if isUserAuthenticated(userId);
    }

    match /orders/{orderId} {
      allow read, create: if isUserAuthenticated(resource.data.userId);
    }
  }
}